# https://taskfile.dev

version: "3"
includes:
  dotnet:
    taskfile: ./.build/dotnet.yml
    vars:
      SOLUTION_FILE: "taskfile var PLACEHOLDER"
tasks:
  default:
    cmds:
      - task: build
  build:
    cmds:
      - task: dotnet:build
  test:
    cmds:
      - task: dotnet:test
